body {
    font-family: 'Arial Black', Arial, sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: right;
    margin-top: 15px;
    margin-left: 0;
    margin-right: 0;
    color: #E6567A;
}

h1 {
    font-size: 26px;
    font-weight: bolder;
    margin-right: 8px;
    margin-bottom: 25px;
}

h2 {
    font-size: 24px;
    font-weight: bolder;
    margin-right: 8px;
    margin-bottom: -15px;
}

h3 {
    font-size: 18px;
    font-weight: bolder;
}

#dayDate {
    margin-right: 8px;
}

#content {
    width: 100%;
    height: auto;
    background-color: #E6567A;
}

img {
    width: 100%;
    max-height: 200px;
}

#condition {
    padding: 20px 0 20px 0;
    width: 100%;
    height: auto;
    background-color: #E6567A;
    color: white;
    text-align: center;
    font-size: 18px;
    display: table;
}

#summaryhere {
    display: table-cell;
    vertical-align: middle;
}

#temphere {
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
}

#weatherImg { 
    width: 20%;
}

@media screen and (min-width: 321px) {
    body {
        height: 568px;
        width: 320px;
        margin: 0 auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        white-space: nowrap;
    }
}